<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Automate Everything</title>
	<atom:link href="http://192.168.1.200/feed/" rel="self" type="application/rss+xml" />
	<link>http://ae.team/</link>
	<description>DevOps as a Service</description>
	<lastBuildDate>2019-09-03 12:37:47</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.2.2</generator>

<image>
	<url>http://ae.team/wp-content/uploads/2019/09/AEvid4-150x150.jpg</url>
	<title>Automate Everything</title>
	<link>http://ae.team/</link>
	<width>32</width>
	<height>32</height>
</image> 
</channel>
</rss>
